<div *ngIf="showWebcam; else showButton" class="container">
  <webcam
    *ngIf="showWebcam"
    class="webcam"
    [width]="500"
    [height]="500"
    [trigger]="triggerObservable"
    [imageQuality]="1"
    [switchCamera]="nextWebcamObservable"
    (imageCapture)="handleImage($event)"
    [allowCameraSwitch]="true"
  ></webcam>

  <div class="controls">
    <img
      width="72"
      height="72"
      src="assets/shutter.svg"
      alt="shutter"
      (click)="triggerSnapshot()"
    />
  </div>
</div>

<ng-template #showButton>
  <button (click)="toggleWebcam()">Open Webcam</button>
</ng-template>
